.menu-item {
    margin-bottom: 0.75rem;
}

.menu-link {
    display: inline-block;
    padding: 0.5rem 4rem;
    color: white;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    text-decoration: none;
    font-size: small;
}

.menu-link:hover {
    background-color: #0056b3;
}

.active {
    font-weight: bold;
}

.active-link {
    background-color: #0056b3;
}