html,
body {
  height: 100%;
  margin: 0;
}

.d-flex {
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  background-color: #c1d8e8;
}

.sidebar-top,
.sidebar-bottom {
  flex: 0 0 5%;
  background-color: #c1d8e8;
}

.sidebar-middle {
  flex: 1;
  background-color: #29486b;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow-y: auto;
  align-content: center;
}

.content {
  width: 75%;
  margin-left: 25%;
  background-color: #c1d8e8;
  height: 100vh;
  /* overflow-y: auto; */
  position: fixed;
}